In [1]:
import collections
import pandas as pd
from Global_Variables import *

#### USER INPUT

In [2]:
patient = open("Patient.txt","r")
patient_genotype = input("Genótipo:")
patient_sequence = ""
patient_name = ""
for linha in patient:
    linha = linha.replace("\n","")
    if linha.startswith(">"):
        name = linha[1:]
        name = name.split()
        name = name[0]
        patient_name = name
    else:
        linha = linha.replace("\n","")
        patient_sequence += linha
print(patient_name)
print(patient_sequence)
patient_info = []
for ras in Resistance:
    resistant = False
    """Position"""
    codon = patient_sequence[(ras*3)-3:(ras*3)]
    """Codon"""
    AminoAcid = codontable[codon] 
    """AminoAcid"""
    if AminoAcid in Resistance[ras]:
        """Resistance Check"""
        resistant = True
    patient_info.append([patient_genotype,ras,codon,AminoAcid,resistant])
patient_file = open ("../Outputs/patient_info","w")
for x in patient_info:
    x = str(x)
    x = x[1:-1]
    x = x.replace("\'","")
    patient_file.write(x + "\n")
patient_file.close()

Genótipo: 3

AB036521.1
TCCGGCTCGTGGCTCAGGGATGTTTGGGACTGGATATGCACGGTGTTGACTGACTTCAAGACCTGGCTCCAGTCCAAGCTCCTGCCACGGTTGCCGGGGGTCCCTTTCCTTTCATGCCAACGTGGATATAAGGGAGTCTGGCGAGGAGATGGCGTCATGCACACCACTTGCCCATGTGGCGCACAAATCACCGGACATGTCAAAAACGGTTCCATGAGGATCGTTGGGCCTAAAACCTGTAGCAACACGTGGCACGGAACATTCCCCATCAACGCGTACACCACGGGTTCCTGCACGCCCTCCCCGGCGCCAAACTATTCCAGGGCGTTGTGGCGGGTGGCTGCTGAGGAGTACGTGGAGGTCACGCGGGTGGGGGATTTCCACTACGTGACGGGCATGACCACTGACAACATAAAATGCCCATGCCAGGTTCCGGCCCCCGAATTTTTCACAGAGTTGGACGGGGTGCGGCTGCACAGGTACGCTCCGGCGTGCAAACCTCTCTTACGGGATGAGGTCACATTCCAGGTCGGGCTCAACCAATACGTGGTTGGGTCCCAGCTCCCATGCGAGCCCGAACCGGATGTAACAGTGCTCACTTCCATGCTCACCGACCCCTCCCACATTACAGCAGAGACGGCTAAGCGTAGGCTGGCCAGGGGGTCTCCCCCTTCCTTGGCCAGCTCTTCAGCTAGTCAGTTGTCTGCGCCTTCTCTGAAGGCAACATGCACCACCCATCATGACTCCCCAGACGCCGACCTCATCGAGGCCAACCTCCTGTGGCGGCAGGAGATGGGCGGGAACATCACCCGCGTGGAGTCAGAGAACAAAGTAGTGATTCTGGACTCTTTCGACCCGCTTCGAGCGGAGGAGGATGAGAGGGAAGTATCCGTTCCGGCGGAGATCCTGCGGAAAACCAGGAAATTCCCCTCAGCGTTGCCCATATGGGCACGCCCGGACTACAACCCACCACTGTTAGAGTCTTGGAGAGACCCGGACTATGTCCCTCCGGTGGTACACGGGTGCCCGTTACCACCCACCAAGGCCCCTCCAATACCACCTCCACGGAGAAAGAGAACAGTTATCCTGACAGAATCCACTGTGTCTTCTGCCTTGGCGGAGCTTGCTACAAAGACCTTCGGCAGCTCCGGATCGTCGGCCGTCGACAGCGGCACAGCGACTGCCCCTCCTGATGGGCCCTCCGACGACGGTGATGCAGGATCGGACGCTGAGTCATGTTCCTCCATGCCCCCCCTTGAGGGGGAGCCGGGGGATCCCGATCTCAGCGACGGGTCTTGGTCCACTGTAAGCGAGGAGGCCAGTGAGGACGTCGTCTGCTGC

#### TRANSFORMANDO AS INFORMAÇÕES DO PACIENTE EM UMA TABELA

In [3]:
df = pd.DataFrame(patient_info)
df = df.rename(columns={0:'Genotype',
                   1:'Position',
                   2:'Codon',
                   3:'AminoAcid', 
                   4:'Resistance'}
         )

In [4]:
df = df.drop('Resistance', 1)

In [5]:
df

  Genotype  Position Codon AminoAcid
0        3        28   CTG         L
1        3        29   CCA         P
2        3        30   CGG         R
3        3        31   TTG         L
4        3        32   CCG         P
5        3        58   CCA         P
6        3        92   GCG         A
7        3        93   TAC         Y