In [49]:
import collections
import pandas as pd

#### Resistance Table

In [25]:
Resistance = collections.OrderedDict()
Resistance[28] = ['T','V','A','S']
Resistance[29] = ['S'],
Resistance[30] = ['E','H','R','D','G','K','T','Q','P','S'], 
Resistance[31] = ['M','I','V','F'],
Resistance[32] = ['L'],
Resistance[58] = ['D','S'],
Resistance[92] = ['K'],
Resistance[93] = ['H','N','C','S']

#### Genetic Code

In [26]:
codontable = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
    'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W',
    }

#### USER INPUT

In [28]:
patient = open("Patient.txt","r")
patient_genotype = input("Genótipo:")
patient_sequence = ""
patient_name = ""
for linha in patient:
    linha = linha.replace("\n","")
    if linha.startswith(">"):
        name = linha[1:]
        name = name.split()
        name = name[0]
        patient_name = name
    else:
        linha = linha.replace("\n","")
        patient_sequence += linha
print(patient_name)
print(patient_sequence)
patient_info = []
for ras in Resistance:
    resistant = False
    """Position"""
    codon = patient_sequence[(ras*3)-3:(ras*3)]
    """Codon"""
    AminoAcid = codontable[codon] 
    """AminoAcid"""
    if AminoAcid in Resistance[ras]:
        """Resistance Check"""
        resistant = True
    patient_info.append([patient_genotype,ras,codon,AminoAcid,resistant])
patient_file = open ("patient_info","w")
for x in patient_info:
    x = str(x)
    x = x[1:-1]
    x = x.replace("\'","")
    patient_file.write(x + "\n")
patient_file.close()

Genótipo: 1b

AB036521.1
TCCGGCTCGTGGCTCAGGGATGTTTGGGACTGGATATGCACGGTGTTGACTGACTTCAAGACCTGGCTCCAGTCCAAGCTCCTGCCACGGTTGCCGGGGGTCCCTTTCCTTTCATGCCAACGTGGATATAAGGGAGTCTGGCGAGGAGATGGCGTCATGCACACCACTTGCCCATGTGGCGCACAAATCACCGGACATGTCAAAAACGGTTCCATGAGGATCGTTGGGCCTAAAACCTGTAGCAACACGTGGCACGGAACATTCCCCATCAACGCGTACACCACGGGTTCCTGCACGCCCTCCCCGGCGCCAAACTATTCCAGGGCGTTGTGGCGGGTGGCTGCTGAGGAGTACGTGGAGGTCACGCGGGTGGGGGATTTCCACTACGTGACGGGCATGACCACTGACAACATAAAATGCCCATGCCAGGTTCCGGCCCCCGAATTTTTCACAGAGTTGGACGGGGTGCGGCTGCACAGGTACGCTCCGGCGTGCAAACCTCTCTTACGGGATGAGGTCACATTCCAGGTCGGGCTCAACCAATACGTGGTTGGGTCCCAGCTCCCATGCGAGCCCGAACCGGATGTAACAGTGCTCACTTCCATGCTCACCGACCCCTCCCACATTACAGCAGAGACGGCTAAGCGTAGGCTGGCCAGGGGGTCTCCCCCTTCCTTGGCCAGCTCTTCAGCTAGTCAGTTGTCTGCGCCTTCTCTGAAGGCAACATGCACCACCCATCATGACTCCCCAGACGCCGACCTCATCGAGGCCAACCTCCTGTGGCGGCAGGAGATGGGCGGGAACATCACCCGCGTGGAGTCAGAGAACAAAGTAGTGATTCTGGACTCTTTCGACCCGCTTCGAGCGGAGGAGGATGAGAGGGAAGTATCCGTTCCGGCGGAGATCCTGCGGAAAACCAGGAAATTCCCCTCAGCGTTGCCCATATGGGCACGCCCGGACTACAACCCACCACTGTTAGAGTCTTGGAGAGACCCGGACTATGTCCCTCCGGTGGTACACGGGTGCCCGTTACCACCCACCAAGGCCCCTCCAATACCACCTCCACGGAGAAAGAGAACAGTTATCCTGACAGAATCCACTGTGTCTTCTGCCTTGGCGGAGCTTGCTACAAAGACCTTCGGCAGCTCCGGATCGTCGGCCGTCGACAGCGGCACAGCGACTGCCCCTCCTGATGGGCCCTCCGACGACGGTGATGCAGGATCGGACGCTGAGTCATGTTCCTCCATGCCCCCCCTTGAGGGGGAGCCGGGGGATCCCGATCTCAGCGACGGGTCTTGGTCCACTGTAAGCGAGGAGGCCAGTGAGGACGTCGTCTGCTGC

#### TRANSFORMANDO AS INFORMAÇÕES DO PACIENTE EM UMA TABELA

In [114]:
df = pd.DataFrame(patient_info)
df = df.rename(columns={0:'Genotype',
                   1:'Position',
                   2:'Codon',
                   3:'AminoAcid', 
                   4:'Resistance'}
         )

In [115]:
df = df.drop('Resistance', 1)

In [116]:
df

  Genotype  Position Codon AminoAcid
0       1b        28   CTG         L
1       1b        29   CCA         P
2       1b        30   CGG         R
3       1b        31   TTG         L
4       1b        32   CCG         P
5       1b        58   CCA         P
6       1b        92   GCG         A
7       1b        93   TAC         Y